/* Tags */

html {
    /* Needed to fix footer at bottom of browser */
    position: relative;
    min-height: 100%;
}

body {
    /* Move down content because of fixed navbar at top */
    padding-top: 80px;
    /* Set margin bottom allow for footer height */
    margin-bottom: 50px;
    background-color: #2C3539;
    color: floralwhite;
    position: relative;
}

h3 {
    background: #222;
    padding: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 15px;
    min-height: 50px;
    border: 1px solid transparent;
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    right: 0;
    left: 0;
}


/* IDs */

#main {
    background-color: #FBE7D4;
    padding-bottom: 25px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#main .row {
    margin-bottom: 15px;
}

#home {
    padding-top: 60px;
    margin-bottom: -40px;
}

#skills {
    padding-top: 60px;
    margin-bottom: -40px;
}

#portfolio {
    padding-top: 60px;
    margin-bottom: -40px;
}

#education {
    padding-top: 60px;
}

#background {
    padding-top: 60px;
}


/* Classes */

.contact {
    font-size: 1.2em;
}

.navbar-inverse .btn {
    background-color: #CEAEBF;
    color: #5E2241;
}


/* Pseudo Classes */

a:link {
    color: #E5E4E2;
    text-decoration: none;
}

a:visited {
    color: #E5E4E2;
}

a:hover {
    color: #82CAFA;
}

a:focus {
    color: #82CAFA;
}

.center {
    text-align: center;
}